Source: wordpress-xrds-simple
Section: php
Priority: optional
Maintainer: Alexander GQ Gerasiov <gq@debian.org>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 3.9.6
Homepage: https://wordpress.org/extend/plugins/xrds-simple/
Vcs-Git: https://github.com/gerasiov/wordpress-xrds-simple.git
Vcs-Browser: https://github.com/gerasiov/wordpress-xrds-simple

Package: wordpress-xrds-simple
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, wordpress
Description: XRDS-Simple plugin for WordPress
 XRDS-Simple is a profile of XRDS, a service discovery protocol which used in
 the OpenID authentication specification as well as OAuth. This plugin provides
 a generic framework to allow other plugins to contribute their own service
 endpoints to be included in the XRDS service document for the domain.
